
          <div class="content">
              <h1 class= "tripvisity">Tripvisity</h1>
          </div>


<%= render 'about' %>
<div class= "footer">
  <div class="connect">
  <!-- <h1 style="margin:0">Connect With Us<h1> -->
  <h1 class="connect">Connect With Us<h1>
  </div>
  <a href= "https://www.facebook.com/jen.yang.9041" class="fb" id="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href= "" class="twitter" id="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</div>

<!-- <script>
$('.bxslider').bxSlider({
mode: 'fade',
captions: true
});
</script> -->
<script src="dist/js/smooth-scroll.js"></script>
<script type= "text/javascript">
  $(document).ready(function () {
    $('.flexslider').flexslider({
        animation: 'fade',
        controlsContainer: '.flexslider'
    });
  });
</script>


<!-- <script>
 $(".content").animate({right: '150px'});

</script> -->

<script>
$( ".connect" ).fadeIn(4000);

</script>
